# dependencies
/node_modules

# next.js
/.next/
/out/
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# env / secrets
.env
.env*.local

# OS / editor
.DS_Store
**/.DS_Store
.idea
.vscode
*.swp
.claude

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
